<h1>Coachings#ask</h1>
<p>Find me in app/views/coachings/ask.html.erb</p>

<form action="/answer">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="answer" placeholder="what time is it?">
  <input type="submit" value="Go on!">
</form>
